<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of cars</title>
    <style>
        TABLE {
            width: 300px;
            border-collapse: collapse;
        }
        TD, TH {
            padding: 3px;
            border: 1px solid black;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th>Brand</th>
        <th>Model</th>
        <th>Year of Issue</th>
    </tr>
    <th:block th:each="car : ${carList}">
        <tr>
            <td th:text="${car.brand}" />
            <td th:text="${car.model}" />
            <td th:text="${car.yearOfIssue}" />
        </tr>
    </th:block>
</table>
</body>
</html>